# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
data = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv(data)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [4]:
#add beer_serving based on continent
#cont is a series with continent as index and sum.beer_serving as value
cont = drinks.groupby("continent")["beer_servings"].count()
cont.index[np.argmax(cont)]

'AF'

### Step 5. For each continent print the statistics for wine consumption.

In [5]:
wine = drinks.groupby("continent")["wine_servings"]
print('Mean Wine consumption')
print(wine.mean())
print('Standard Deviation Wine consumption')
print(wine.std())
print('Median Wine consumption')
print(wine.mean())

Mean Wine consumption
continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64
Standard Deviation Wine consumption
continent
AF    38.846419
AS    21.667034
EU    97.421738
OC    64.555790
SA    88.620189
Name: wine_servings, dtype: float64
Median Wine consumption
continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [6]:
#beer_servings	spirit_servings	wine_servings	total_litres_of_pure_alcohol
beer = drinks.groupby("continent")["beer_servings"]
spirit = drinks.groupby("continent")["spirit_servings"]
total = drinks.groupby("continent")["total_litres_of_pure_alcohol"]
print('Beer mean consumption [servings]')
print(beer.mean())
print('\n')
print('Spirit mean consumption [servings]')
print(spirit.mean())
print('\n')
print('Wine mean consumption [servings]')
print(wine.mean())
print('\n')
print('Mean Total consumption [litres]')
print(total.mean())
print('\n')

Beer mean consumption [servings]
continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64


Spirit mean consumption [servings]
continent
AF     16.339623
AS     60.840909
EU    132.555556
OC     58.437500
SA    114.750000
Name: spirit_servings, dtype: float64


Wine mean consumption [servings]
continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64


Mean Total consumption [litres]
continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [7]:
#beer_servings	spirit_servings	wine_servings	total_litres_of_pure_alcohol
beer = drinks.groupby("continent")["beer_servings"]
spirit = drinks.groupby("continent")["spirit_servings"]
total = drinks.groupby("continent")["total_litres_of_pure_alcohol"]
print('Beer median consumption [servings]')
print(beer.median())
print('\n')
print('Spirit median consumption [servings]')
print(spirit.median())
print('\n')
print('Wine median consumption [servings]')
print(wine.median())
print('\n')
print('Median Total consumption [litres]')
print(total.median())
print('\n')

Beer median consumption [servings]
continent
AF     32.0
AS     17.5
EU    219.0
OC     52.5
SA    162.5
Name: beer_servings, dtype: float64


Spirit median consumption [servings]
continent
AF      3.0
AS     16.0
EU    122.0
OC     37.0
SA    108.5
Name: spirit_servings, dtype: float64


Wine median consumption [servings]
continent
AF      2.0
AS      1.0
EU    128.0
OC      8.5
SA     12.0
Name: wine_servings, dtype: float64


Median Total consumption [litres]
continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [8]:
#I do not know if I got the task
print('Mean consumption spirit servings')
print(drinks['spirit_servings'].mean())
print('MAX consumption spirit servings')
print(drinks['spirit_servings'].max())
print('MIN consumption spirit servings')
print(drinks['spirit_servings'].min())

Mean consumption spirit servings
80.99481865284974
MAX consumption spirit servings
438
MIN consumption spirit servings
0